.card {
    border: 1px solid #f3f3f3;
    padding: 30px;
    max-width: 13rem;
    margin: 0 3% 30px 0;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    border-radius: 40px;
    margin-right: 30px;
    margin-bottom: 30px;

    .plus {
      cursor: pointer;
    }

    #info {
      flex-direction: column;
    }

    .plus {
      cursor: pointer;
    }
  
    &:hover {
      box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
      transform: translateY(-5px);
    }
  
    .favorite {
      position: absolute;
      cursor: pointer;
    }
  
    span {
      font-size: 13px;
      opacity: 0.5;
      text-transform: uppercase;
    }
  
    b {
      font-size: 14px;
    }
  
    h5 {
      font-weight: auto;
      font-size: 14px;
      height: 70px;
    }
  }
  